h1{
    color:violet;
}
.header{
background-color:cyan; 
display:flex;
justify-content:space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
} 
p{
    text-align: centre;
}
.menu{
    margin-right:30px;
    }
    
    .menu a{
    margin-left:20px;
    }
li{
    text-align: centre;
    color:rgb(250, 0, 187);
}

a:link{
    color:mediumslateblue;
}
a:visited{
    color:mediumslateblue;
}
.item{
    position:relative;
}

.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity: 0;
}
.item:hover p{
    opacity: 1;
}
.item:hover img{
    opacity:0.40;
}
a{
    text-decoration: none;
}

